
@{
    ViewBag.Title = "TipoClienteNuevo";
}

<link href="~/Content/CSS/CSSEliminar.css" rel="stylesheet" />
<div id="Centrar">

    <h2 style="opacity: 0.6">Agregar Tipo de Clientes</h2>

    <form id="frmNuevoTipoCliente" method="post">
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" id="Nombre" name="Nombre" class="form-control" />
        </div>


        <div class="form-group">
            <label>Descripcion:</label>
            <input type="text" name="Descripcion" id="Descripcion" class="form-control" />
        </div>

        <div class="form-group">
            <input class="boton_personalizado" type="submit" value="Guardar" id="btnAceptar" />
            <a class="boton_personalizado" href="~/TiposClientes/TipoClienteLista">Regresar a la Lista</a>
        </div>

    </form>

</div>

@Html.ValidationSummary(true)
@section scripts{

    <script src="~/Scripts/Validaciones/TipoCliente.js"></script>
}
