@model List<ProyectoFinal.Models.sp_RetornaTipo_Clientes_Result>

@{
    ViewBag.Title = "TipoClienteLista";
}

<link href="~/Content/CSS/CSS.css" rel="stylesheet" />

<h2 style="opacity:0.6">Tipo de Clientes</h2>

<table class="table table-hover table-striped" style="opacity:0.5">
    <tr>
        <th id="Encabezado">Nombre</th>
        <th id="Encabezado">Descripcion</th>  
        <th id="Encabezado">Acciones</th>
    </tr>
    @{
        foreach (ProyectoFinal.Models.sp_RetornaTipo_Clientes_Result posicionModelo in this.Model)
        {
        <tr>
            <td>@posicionModelo.Nombre</td>
            <td>@posicionModelo.Descripcion</td>
            <td>
                <a href="~/TiposClientes/TipoClienteModifica?Id_Tipo_Cliente=@posicionModelo.Id_Tipo_Cliente">Modificar</a>
                <br />
                <a href="~/TiposClientes/TipoClienteElimina?Id_Tipo_Cliente=@posicionModelo.Id_Tipo_Cliente">Eliminar</a>
        </td>
        </tr>
        }


    }
</table>

<ul><li><a id="Enlace" href="~/TiposClientes/TipoClienteNuevo" style="opacity:0.6">Agregar un Tipo de Cliente</a></li></ul>