@model ProyectoFinal.Models.sp_RetornaTipo_Clientes_Result

@{
    ViewBag.Title = "TipoClienteModifica";
}

<h2>Tipo Cliente Modifica</h2>

<form id="frmModificaTipoCliente" method="post">
    <div class="form-group">
        <label>Nombre:</label>
        <input type="text" id="Nombre" name="Nombre" class="form-control" value="@Model.Nombre" />
    </div>

    <div class="form-group">
        <label>Descripcion:</label>
        <input type="text" name="Descripcion" id="Descripcion" class="form-control" value="@Model.Descripcion" />
    </div>

    <div class="form-group">
        <input type="submit" value="Modificar" id="btnAceptar" />
    </div>


    <a href="~/TiposClientes/TipoClienteLista">Regresar a la Lista</a>


</form>

@Html.ValidationSummary(true)
@section scripts{
    <script src="~/Scripts/Validaciones/ClienteNuevo.js"></script>
}