@model List<ProyectoFinal.Models.sp_RetornaTipos_Cuentas_Result>

@{
    ViewBag.Title = "TipoCuentasLista";
}
<link href="~/Content/CSS/CSS.css" rel="stylesheet" />

<h2 style="opacity:0.6">Lista de Cuentas</h2>



<table class="table" style="opacity:0.5">
    <tr>
        <th id="Encabezado">Nombre</th>
        <th id="Encabezado">Codigo</th>
        <th id="Encabezado">Acciones</th>
    </tr>
    @{
        foreach (ProyectoFinal.Models.sp_RetornaTipos_Cuentas_Result posicionModelo in this.Model)
        {
            <tr>
                <td>@posicionModelo.Nombre</td>
                <td>@posicionModelo.Codigo</td>
                <td>
                    <a href="~/TipoCuentas/TipoCuentaModifica?Id_Tipo_Cuenta=@posicionModelo.Id_Tipo_Cuenta">Modificar</a>
                    <br />
                    <a href="~/TipoCuentas/TipoCuentasElimina?Id_Tipo_Cuenta=@posicionModelo.Id_Tipo_Cuenta">Eliminar</a>
                </td>
            </tr>
        }


    }


</table>

<ul><li><a id="Enlace" href="~/TipoCuentas/TipoCuentaNueva" style="opacity:0.6">Agregar un Tipo de Cliente</a></li></ul>