@model ProyectoFinal.Models.sp_RetornaTipos_Cuentas_Result

@{
    ViewBag.Title = "TipoCuentasElimina";
}

<h2>Tipo de Cuentas Elimina</h2>

<form id="frmEliminaTipoCuentas" method="post">
    <div class="form-group">
        <label>Nombre:</label>
        <input type="text" id="Nombre" name="Nombre" class="form-control" value="@Model.Nombre" readonly />
    </div>

    <div class="form-group">
        <label>Codigo:</label>
        <input type="text" name="Codigo" id="Codigo" class="form-control" value="@Model.Codigo" readonly/>
    </div>

    <div class="form-group">
        <input type="submit" value="Eliminar" id="btnAceptar" />
    </div>


    <a href="~/TipoCuentas/TipoCuentasLista">Regresar a la Lista</a>


</form>

@Html.ValidationSummary(true)
@section scripts{
    <script src="~/Scripts/Validaciones/ClienteNuevo.js"></script>
}