
@{
    ViewBag.Title = "TipoCuentaNueva";
}

<link href="~/Content/CSS/CSSEliminar.css" rel="stylesheet" />
<div id="Centrar">

    <h2 style="opacity: 0.6">Ingresar una Cuenta Nueva</h2>

    <form id="frmNuevoTipoCuenta" method="post">
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" id="Nombre" name="Nombre" class="form-control" />
        </div>


        <div class="form-group">
            <label>Codigo:</label>
            <input type="text" name="Codigo" id="Codigo" class="form-control" />
        </div>

        <div class="form-group">
            <input class="boton_personalizado" type="submit" value="Guardar" id="btnAceptar" />
            <a class="boton_personalizado" href="~/TipoCuentas/TipoCuentasLista">Regresar a la Lista</a>
        </div>

    </form>
</div> 

    @Html.ValidationSummary(true)
    @section scripts{
        <script src="~/Scripts/Validaciones/ClienteNuevo.js"></script>
    }
