
@{
    ViewBag.Title = "TipoCuentaNueva";
}

<h2>Tipo de Cuenta Nueva</h2>

<form id="frmNuevoTipoCuenta" method="post">
    <div class="form-group">
        <label>Nombre:</label>
        <input type="text" id="Nombre" name="Nombre" class="form-control" />
    </div>


    <div class="form-group">
        <label>Codigo:</label>
        <input type="text" name="Codigo" id="Codigo" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Guardar" id="btnAceptar" />
    </div>


    <a href="~/TipoCuentas/TipoCuentasLista">Regresar a la Lista</a>


</form>

@Html.ValidationSummary(true)
@section scripts{
    <script src="~/Scripts/Validaciones/ClienteNuevo.js"></script>
}