.carousel-inner{
    width:100%;
}

.item{
    text-align:center;
}

.sprite {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../Imagenes/SpriteBanco2.png);
}

.Banco1 {
    width: 512px;
    height: 331px;
    background-position: -330px -0px
}

.Banco2 {
    width: 512px;
    height: 287px;
    background-position: -842px -0px
}

.Banco3 {
    width: 330px;
    height: 330px;
    background-position: -0px -0px
}

.banco-del-pueblo {
    width: 1227px;
    height: 330px;
    background-position: -0px -331px
}
