.carousel-inner{
    width:100%;
}

.item{
    text-align:center;
}

.sprite {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../Imagenes/SpritesBanco.png);
}

.Banco1 {
    width: 512px;
    height: 331px;
    background-position: -0px -96px
}

.Banco2 {
    width: 300px;
    height: 168px;
    background-position: -0px -427px
}

.Banco3 {
    width: 225px;
    height: 225px;
    background-position: -0px -595px
}

.Banco4 {
    width: 225px;
    height: 225px;
    background-position: -225px -595px
}

.Banco5 {
    width: 259px;
    height: 194px;
    background-position: -0px -820px
}

.banco-del-pueblo {
    width: 357px;
    height: 96px;
    background-position: -0px -0px
}
