@model List<ProyectoFinal.Models.sp_RetornaRetiros_Result>

@{
    ViewBag.Title = "RetirosLista";
}

<link href="~/Content/CSS/CSS.css" rel="stylesheet" />

<h2 style="opacity:0.6">Retiros</h2>


    <table class="table table-hover table-striped" style="opacity:0.5">
        <tr>
            <th id="Encabezado">Cuenta</th>
            <th id="Encabezado">Monto Retiro</th>
            <th id="Encabezado">Fecha</th>
            <th id="Encabezado">Moneda</th>

        </tr>
        @{
            foreach (ProyectoFinal.Models.sp_RetornaRetiros_Result posicionModelo in this.Model)
            {
                <tr>
                    <td>@posicionModelo.Numero_Cuenta</td>
                    <td>@posicionModelo.Monto_Retiro</td>
                    <td>@posicionModelo.Fecha</td>
                    <td>@posicionModelo.NombreMoneda</td>


                    @*<td>
                            <a href="~/Cuentas/CuentaModifica?Id_Cuenta=@posicionModelo.Id_Cuenta">Modificar</a>
                            <br />
                            <a href="~/Cuentas/CuentaElimina?Id_Cuenta=@posicionModelo.Id_Cuenta">Eliminar</a>
                        </td>*@
                </tr>
            }

        }
    </table>

    <ul><li><a id="Enlace" href="~/Retiros/InsertaRetiro" style="opacity:0.6">Agregar Nuevo Retiro</a></li></ul>
